.light-theme {
  --background: #e6e6e6;
  --view-background: #a8a5a0;
  --feature: #ffffff;
  --feature-border: #354259;
  --text-color: black;
  --nav-color: rgb(62; 62; 62);
  --nav-active-color: black;
  --theme-img-offset: 8px;
  --themed-hover-filter: brightness(0.7);
  --button-color: rgb(185, 185, 185);
  --active-button: white;
  --slider-position: 6px;
  --slider-background: #b8d3f3b0;
  --slider-color: #fcc965;
  --hidden-in-light: 0;
  --shadow-y: 15px;
  --shadow-x: 30px;
  --cloud-y: -10px;
}
.dark-theme {
  --background: rgb(15, 15, 15);
  --view-background: rgb(53, 53, 53);
  --feature: rgb(45, 45, 45);
  --feature-border: grey;
  --text-color: white;
  --nav-color: grey;
  --nav-active-color: white;
  --theme-img-offset: 98px;
  --themed-hover-filter: brightness(1.7);
  --button-color: grey;
  --active-button: white;
  --slider-position: 55px;
  --slider-background: #000000;
  --slider-color: #828282;
  --hidden-in-light: 1;
  --shadow-y: 5px;
  --shadow-x: 10px;
  --cloud-y: -40px;
};