.workplaceCard{
    width: 70vw;
    position: relative;
    padding-bottom: 50px;
    padding-right: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & +.workplaceCard {
        border-top-color: var(--text-color);
        transition: border-top-color 0.5s ease-in-out;
        border-top: 2px solid;
        padding-top: 30px;
    }
    
    .jobTitle {
        width: calc(100% - 170px);
        font-size: 28px;
        padding-bottom: 10px;
    }
    .jobDates {
        padding-bottom: 1rem;
        font-size: 20px;
    }
    .skillsWindow {
        width: calc(100% - 200px);
        height: 2rem;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        border-color: var(--feature-border);
        transition: border-color 0.5s ease-in-out;
        border: 2px solid;
        border-radius: 10px;
        overflow: hidden;
        .skillContainer {
            background-color: var(--feature);
            transition: background-color 0.5s ease-in-out;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: flex-start;
            .skill {
                width: fit-content;
                white-space: nowrap;
                padding-right: 3vw;
                transition: none;
                &::before {
                    content: '•';
                    padding-right: 10px;
                    padding-left: 10px;
                }
            }
        }
    }
    img{
        width: 170px;
        position: absolute;
        right: 0;
        border-radius: 5px;
    }
    .jobText {
        display: flex;
        flex-direction: column;
        width: 100%;
        p {
            padding-bottom: 1rem;
        }
    }
    .buttonContainer {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        .showMore {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 100px;
            border-radius: 50px;
            border-width: 3px;
            color: var(--text-color);
            background-color: var(--feature);
            transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
            &:hover {
                cursor: pointer;
                filter: var(--themed-hover-filter);
                transition: filter 0.5s ease-in-out;
            }
        }
    }
}

@media only screen and (max-width:1050px){
    .workplaceCard {
        .skillsWindow {
            width: 100%;
        }
        .jobTitle {
            width: calc(100% - 100px);
        }
        img{
            width: 100px;
            right: 20px;
        }
    }
}

@media only screen and (max-width:600px){
    .workplaceCard {
        width: 85vw;
        .jobTitle {
            font-size: 20px;
            padding-bottom: 5px;
        }
        .jobDates {
            font-size: 16px;
        }
        .skillsWindow {
            width: 100%;
        }
        .jobTitle {
            width: calc(100% - 85px);
        }
        img{
            width: 80px;
            right: 20px;
        }
    }
    .jobText, .intro {
        p {
            font-size: 14px;
        }
    }
    .showMore p {
        font-size: 16px;
    }
}