#app{
  min-height: 100vh;
}

.viewBackground{
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--view-background);
  transition: background-color 0.5s ease-in-out;
  .view{
    width: 80%;
    margin: 30px 0;
    padding: 5vw;
    padding-top: 3vw;
    padding-bottom: 0;
    border-radius: 10px;
    background-color: var(--background);
    transition: background-color 0.5s ease-in-out;
  }
}

@media only screen and (max-width:600px){
  .viewBackground {
    .view {
      width: 95%;
      margin-top: 10px;
      padding-top: 20px;
    }
    &::before {
      content: "<-- Swipe to Navigate -->";
      margin-top: 10px;
      font-size: 12px;
      font-weight: 700;
      color: var(--text-color);
      transition: color 0.5s ease-in-out;
    }
  }
}