.profile{
    display: grid;
    justify-content: center;
    align-items: flex-start;
    grid-template: repeat(2, fit-content) / 1fr 3fr;
    .title {
        color: var(--text-color);
        transition: color 0.5s ease-in-out;
        font-size: 40px;
        padding-bottom: 20px;
        grid-area: 1 / 1 / 2 / 2;
    }
    .desktop {
        max-width: 20vw;
        max-height: 250px;
        padding: 0.5vw;
        margin-bottom: 5vw;
        margin-left: 5vw;
        border-radius: 50%;
        grid-area: 2 / 2 / 3 / 3;
        background-color: var(--text-color);
        transition: background-color 0.5s ease-in-out;
    }
    .textArea {
        color: var(--text-color);
        transition: color 0.5s ease-in-out;
        max-width: 750px;
        grid-area: 2 / 1 / 3 / 2;
        padding-bottom: 5vw;
        .text {
            padding-bottom: 1rem;
            span {
                font-weight: bolder;
            }
            .code {
                white-space: nowrap;
            }
        }
    }
    .buttonContainer {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        white-space: nowrap;
        grid-area: 2 / 2 / 3 / 3;
        position: relative;
        margin-left: 5vw;
        top: 275px;
        .viewCv {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 30px;
            border-radius: 5px;
            color: var(--text-color);
            background-color: var(--feature);
            transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, filter 0.5s ease-in-out;
        }
    }
}

@media only screen and (max-width:1200px){
    .profile {
        .desktop {
            display: none;
        }
        .textArea{
            padding-bottom: 0;
        }
        .text {
            grid-area: 2 / 1 / 3 / 2;
        }
        .buttonContainer {
            grid-area: 3 / 1 / 4 / 2;
            padding-bottom: 2vw;
            margin-left: 0;
            top: 0;
        }
    }
}
@media only screen and (max-width:600px){
    .profile {
        .title {
            font-size: 30px;
        }
        .text {
            font-size: 14px;
        }
    }
}

@media only screen and (hover: hover) and (min-width:600px){
    .profile {
        .buttonContainer {
            .viewCv {
                &:hover {
                    cursor: pointer;
                    filter: var(--themed-hover-filter);
                }
            }
        }
    }
}