.qualifications{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-template: 1fr / fit-content;
    .filterButtons {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        padding-bottom: 30px;
        transition: all 0.5s ease-in-out;
        button {
            color: var(--background-color);
            transition: color 0.5s ease-in-out;
        }
        .filter {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            width: 100px;
            margin-right: 10px;
            border-radius: 50px;
            border-width: 3px;
            background-color: var(--button-color);
            transition: background-color 0.5s ease-in-out;
            &:hover {
                cursor: pointer;
                filter: var(--themed-hover-filter);
                transition: filter 0.5s ease-in-out;
            }
        }
        .active {
            background-color: var(--active-button);
            transition: background-color 0.5s ease-in-out;
            font-weight: 700;
        }
    }
    .title {
        color: var(--text-color);
        transition: color 0.5s ease-in-out;
        text-align: center;
        font-size: 40px;
        padding-bottom: 20px;
    }
    .section {
        width: 100%;
        padding-bottom: 50px;
        
        h3 {
            font-size: 28px;
            color: var(--text-color);
            transition: color 0.5s ease-in-out;

        }
        & +.section {
            border-top: 5px double var(--text-color);
            transition: border-color 0.5s ease-in-out;
            padding-top: 30px;
        }
    }
}

@media only screen and (max-width:600px){
    .qualifications {
        .title {
            font-size: 30px;
        }
        .filterButtons {
            padding-bottom: 20px;
            .filter {
                font-size: 10px;
            }
            
        }
        .section {
            h3 {
                font-size: 25px;
            }
        }
    }
}