@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");
.light-theme {
  --mobile-background: url("/src/resources/media/bannermoblight.png");
  --background: #e6e6e6;
  --view-background: #a8a5a0;
  --feature: #ffffff;
  --feature-border: #354259;
  --text-color: black;
  --nav-color: rgb(62; 62; 62);
  --nav-active-color: black;
  --theme-img-offset: 8px;
  --themed-hover-filter: brightness(0.7);
  --button-color: rgb(185, 185, 185);
  --active-button: white;
  --slider-position: 6px;
  --slider-background: #b8d3f3b0;
  --slider-color: #fcc965;
  --hidden-in-light: 0;
  --hidden-in-dark: 1;
  --shadow-y: 15px;
  --shadow-x: 30px;
  --cloud-y: -10px;
}

.dark-theme {
  --mobile-background: url("/src/resources/media/bannermobdark.png");
  --background: rgb(15, 15, 15);
  --view-background: rgb(53, 53, 53);
  --feature: rgb(45, 45, 45);
  --feature-border: grey;
  --text-color: white;
  --nav-color: grey;
  --nav-active-color: white;
  --theme-img-offset: 98px;
  --themed-hover-filter: brightness(1.7);
  --button-color: grey;
  --active-button: white;
  --slider-position: 55px;
  --slider-background: #000000;
  --slider-color: #828282;
  --hidden-in-light: 1;
  --hidden-in-dark: 0;
  --shadow-y: 5px;
  --shadow-x: 10px;
  --cloud-y: -40px;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--background);
  transition: background-color 0.5s ease-in-out;
}
.header .pageInfo {
  height: inherit;
  display: flex;
  align-items: center;
}
.header .pageInfo img {
  position: relative;
  z-index: 2;
  height: 50px;
  margin: 5px;
  border: 2px solid;
  border-color: var(--text-color);
  transition: border-color 0.5s ease-in-out;
  border-radius: 999px;
}
.header .pageInfo .siteName {
  color: var(--text-color);
  transition: color 0.5s ease-in-out;
  font-size: 22px;
  margin: 10px;
}

@media only screen and (max-width: 400px) {
  .header .pageInfo .siteName {
    font-size: 18px;
  }
}
.themeSlider {
  height: 40px;
  width: 90px;
  margin: 10px;
  background-color: var(--slider-background);
  transition: background-color 0.5s ease-in-out, filter 0.5s ease-in-out;
  border: 2px rgb(90, 90, 90) solid;
  border-radius: 999px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.themeSlider:hover {
  cursor: pointer;
}
.themeSlider .dark, .themeSlider .light {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  width: 60%;
  font-weight: 500;
}
.themeSlider .dark {
  left: 0;
  color: white;
  opacity: var(--hidden-in-light);
  transition: opacity 0.5s ease-in-out;
}
.themeSlider .light {
  right: 0;
  color: rgb(15, 15, 15);
  opacity: var(--hidden-in-dark);
  transition: opacity 0.5s ease-in-out;
}
.themeSlider .slider {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: var(--slider-position);
  margin: auto;
  transition: left 0.5s ease-in-out, background-color 0.5s ease-in-out;
  height: 70%;
  aspect-ratio: 1/1;
  background-color: var(--slider-color);
  border-radius: 50%;
  overflow: hidden;
}
.themeSlider .slider .shading {
  position: absolute;
  background-color: var(--slider-color);
  transition: background-color 0.5s ease-in-out;
  filter: brightness(115%) blur(2px);
  height: 66%;
  width: 66%;
  border-radius: 50%;
}
.themeSlider .slider .shadow {
  position: absolute;
  right: var(--shadow-x);
  bottom: var(--shadow-y);
  transition: right 1s ease-in-out, bottom 1s ease-in-out, background-color 0.5s ease-in-out;
  background-color: var(--background);
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.themeSlider .cloud1, .themeSlider .cloud2 {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  bottom: var(--cloud-y);
  filter: blur(1px);
  transition: bottom 0.5s ease-in-out;
}
.themeSlider .cloud1 {
  height: 35px;
  width: 45px;
  left: 55px;
}
.themeSlider .cloud2 {
  height: 22px;
  width: 35px;
  left: 40px;
  transition-delay: 150ms;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/src/resources/media/bannerdesk.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 2.5/1;
}
.banner .hello h3 {
  font-size: 1.5rem;
  margin: 2rem 0 0 8rem;
  padding: 0;
}
.banner .hello h2.jacob {
  font-size: 10rem;
  margin-left: 6rem;
}
.banner .hello h2.blackburn {
  font-size: 10rem;
  margin-left: 10rem;
}
.banner img.mobile {
  background-color: var(--text-color);
  filter: drop-shadow(0 0 20px var(--text-color));
  transition: background-color 0.5s ease-in-out, filter 0.5s ease-in-out;
  padding: 10px;
  border-radius: 50%;
  display: none;
}
.banner .based {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 5rem 25rem;
  text-align: center;
}
.banner .based h3 {
  font-size: 1.5rem;
}
.banner #anchor {
  position: relative;
  bottom: 50px;
}

@media only screen and (max-width: 1600px) {
  .banner .hello h2.jacob, .banner .hello h2.blackburn {
    font-size: 8rem;
  }
}
@media only screen and (max-width: 1250px) {
  .banner .hello h3 {
    font-size: 1.3rem;
    margin: 2rem 0 0 3rem;
  }
  .banner .hello h2.jacob, .banner .hello h2.blackburn {
    font-size: 6rem;
  }
  .banner .based {
    margin: 0 0 3rem 13rem;
  }
  .banner .based h3 {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 1000px) {
  .banner {
    background-image: var(--mobile-background);
    background-position: left;
    background-size: auto;
    align-items: center;
    text-align: center;
    transition: background-image 0.5s ease-in-out;
    color: var(--text-color);
  }
  .banner .hello h3 {
    font-size: 1.2rem;
    margin: 2rem 0 0 0;
  }
  .banner .hello h2.jacob, .banner .hello h2.blackburn {
    font-size: 5rem;
    margin-left: 0;
  }
  .banner img.mobile {
    display: block;
    width: 18rem;
    height: 18rem;
    margin: 1rem;
  }
  .banner .based {
    width: 100%;
    margin: 0 0 5rem 0;
  }
}
@media only screen and (max-width: 600px) {
  .banner .hello h2.jacob, .banner .hello h2.blackburn {
    font-size: 3rem;
    margin-left: 0;
  }
  .banner img.mobile {
    display: block;
    width: 13rem;
    height: 13rem;
    padding: 5px;
  }
  .banner .based {
    margin: 0 0 3rem 0;
  }
}
.navbar {
  width: 100%;
  height: 40px;
  display: flex;
  position: sticky;
  justify-content: center;
  top: 50px;
  z-index: 1;
  background-color: var(--background);
  transition: background-color 0.5s ease-in-out;
}
.navbar::after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100vw;
  border-bottom: 2px solid;
  border-color: var(--view-background);
  transition: border-color 0.5s ease-in-out;
}
.navbar .navLinks {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--nav-color);
  transition: color 0.5s ease-in-out;
}
.navbar .navLinks .navLink {
  font-size: 18px;
  width: 250px;
  color: inherit;
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 0.5vw;
  white-space: nowrap;
  transition: all 0.3s linear;
}
.navbar .navLinks .navLink:hover {
  cursor: pointer;
  filter: var(--themed-hover-filter);
  transition: filter 0.5s ease-in-out;
}
.navbar .navLinks .active {
  color: var(--nav-active-color);
  transition: color 0.5s ease-in-out;
  font-weight: 700;
}

@media only screen and (max-width: 1050px) {
  .navbar .navLinks .navLink {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .navbar .navLinks .navLink {
    font-size: 10px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .navbar .navLinks .active {
    font-size: 14px;
  }
}
#app {
  min-height: 100vh;
}

.viewBackground {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--view-background);
  transition: background-color 0.5s ease-in-out;
}
.viewBackground .view {
  width: 80%;
  margin: 30px 0;
  padding: 5vw;
  padding-top: 3vw;
  padding-bottom: 0;
  border-radius: 10px;
  background-color: var(--background);
  transition: background-color 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .viewBackground .view {
    width: 95%;
    margin-top: 10px;
    padding-top: 20px;
  }
  .viewBackground::before {
    content: "<-- Swipe to Navigate -->";
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: var(--text-color);
    transition: color 0.5s ease-in-out;
  }
}
.profile {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template: repeat(2, fit-content)/1fr 3fr;
}
.profile .title {
  color: var(--text-color);
  transition: color 0.5s ease-in-out;
  font-size: 40px;
  padding-bottom: 20px;
  grid-area: 1/1/2/2;
}
.profile .desktop {
  max-width: 20vw;
  max-height: 250px;
  padding: 0.5vw;
  margin-bottom: 5vw;
  margin-left: 5vw;
  border-radius: 50%;
  grid-area: 2/2/3/3;
  background-color: var(--text-color);
  transition: background-color 0.5s ease-in-out;
}
.profile .textArea {
  color: var(--text-color);
  transition: color 0.5s ease-in-out;
  max-width: 750px;
  grid-area: 2/1/3/2;
  padding-bottom: 5vw;
}
.profile .textArea .text {
  padding-bottom: 1rem;
}
.profile .textArea .text span {
  font-weight: bolder;
}
.profile .textArea .text .code {
  white-space: nowrap;
}
.profile .buttonContainer {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  grid-area: 2/2/3/3;
  position: relative;
  margin-left: 5vw;
  top: 300px;
}
.profile .buttonContainer .viewCv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 50px;
  border-width: 3px;
  color: var(--text-color);
  background-color: var(--feature);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.profile .buttonContainer .viewCv:hover {
  cursor: pointer;
  filter: var(--themed-hover-filter);
  transition: filter 0.5s ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .profile .desktop {
    display: none;
  }
  .profile .textArea {
    padding-bottom: 0;
  }
  .profile .text {
    grid-area: 2/1/3/2;
  }
  .profile .buttonContainer {
    grid-area: 3/1/4/2;
    padding-bottom: 2vw;
    margin-left: 0;
    top: 0;
  }
}
@media only screen and (max-width: 600px) {
  .profile .title {
    font-size: 30px;
  }
  .profile .text {
    font-size: 14px;
  }
}
.employment {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  grid-template: 1fr/fit-content;
}
.employment .title {
  color: var(--text-color);
  transition: color 0.5s ease-in-out;
  font-size: 40px;
  padding-bottom: 20px;
  grid-area: 1/1/2/2;
}
.employment .workplaceArea {
  grid-area: 2/1/3/2;
  color: var(--text-color);
  transition: color 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .employment .title {
    font-size: 30px;
  }
}
.workplaceCard {
  width: 70vw;
  position: relative;
  padding-bottom: 50px;
  padding-right: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.workplaceCard + .workplaceCard {
  border-top-color: var(--text-color);
  transition: border-top-color 0.5s ease-in-out;
  border-top: 2px solid;
  padding-top: 30px;
}
.workplaceCard .jobTitle {
  width: calc(100% - 170px);
  font-size: 28px;
  padding-bottom: 10px;
}
.workplaceCard .jobDates {
  padding-bottom: 1rem;
  font-size: 20px;
}
.workplaceCard .skillsWindow {
  width: calc(100% - 200px);
  height: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-color: var(--feature-border);
  transition: border-color 0.5s ease-in-out;
  border: 2px solid;
  border-radius: 10px;
  overflow: hidden;
}
.workplaceCard .skillsWindow .skillContainer {
  background-color: var(--feature);
  transition: background-color 0.5s ease-in-out;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}
.workplaceCard .skillsWindow .skillContainer .skill {
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  padding-right: 3vw;
  transition: none;
}
.workplaceCard .skillsWindow .skillContainer .skill::before {
  content: "•";
  padding-right: 10px;
  padding-left: 10px;
}
.workplaceCard img {
  width: 170px;
  position: absolute;
  right: 0;
  border-radius: 5px;
}
.workplaceCard .jobText {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.workplaceCard .jobText p {
  padding-bottom: 1rem;
}
.workplaceCard .buttonContainer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.workplaceCard .buttonContainer .showMore {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  border-radius: 50px;
  border-width: 3px;
  color: var(--text-color);
  background-color: var(--feature);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.workplaceCard .buttonContainer .showMore:hover {
  cursor: pointer;
  filter: var(--themed-hover-filter);
  transition: filter 0.5s ease-in-out;
}

@media only screen and (max-width: 1050px) {
  .workplaceCard .skillsWindow {
    width: 100%;
  }
  .workplaceCard .jobTitle {
    width: calc(100% - 100px);
  }
  .workplaceCard img {
    width: 100px;
    right: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .workplaceCard {
    width: 85vw;
  }
  .workplaceCard .jobTitle {
    font-size: 20px;
    padding-bottom: 5px;
  }
  .workplaceCard .jobDates {
    font-size: 16px;
  }
  .workplaceCard .skillsWindow {
    width: 100%;
  }
  .workplaceCard .jobTitle {
    width: calc(100% - 85px);
  }
  .workplaceCard img {
    width: 80px;
    right: 20px;
  }
  .jobText p, .intro p {
    font-size: 14px;
  }
  .showMore p {
    font-size: 16px;
  }
}
.qualifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-template: 1fr/fit-content;
}
.qualifications .filterButtons {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-bottom: 30px;
  transition: all 0.5s ease-in-out;
}
.qualifications .filterButtons button {
  color: var(--background-color);
  transition: color 0.5s ease-in-out;
}
.qualifications .filterButtons .filter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 100px;
  margin-right: 10px;
  border-radius: 50px;
  border-width: 3px;
  background-color: var(--button-color);
  transition: background-color 0.5s ease-in-out;
}
.qualifications .filterButtons .filter:hover {
  cursor: pointer;
  filter: var(--themed-hover-filter);
  transition: filter 0.5s ease-in-out;
}
.qualifications .filterButtons .active {
  background-color: var(--active-button);
  transition: background-color 0.5s ease-in-out;
  font-weight: 700;
}
.qualifications .title {
  color: var(--text-color);
  transition: color 0.5s ease-in-out;
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
}
.qualifications .section {
  width: 100%;
  padding-bottom: 50px;
}
.qualifications .section h3 {
  font-size: 28px;
  color: var(--text-color);
  transition: color 0.5s ease-in-out;
}
.qualifications .section + .section {
  border-top: 5px double var(--text-color);
  transition: border-color 0.5s ease-in-out;
  padding-top: 30px;
}

@media only screen and (max-width: 600px) {
  .qualifications .title {
    font-size: 30px;
  }
  .qualifications .filterButtons {
    padding-bottom: 20px;
  }
  .qualifications .filterButtons .filter {
    font-size: 10px;
  }
  .qualifications .section h3 {
    font-size: 25px;
  }
}
.result {
  width: 100%;
  position: relative;
  padding-top: 20px;
  margin-bottom: 30px;
  color: var(--text-color);
  transition: color 0.5s ease-in-out;
}
.result + .result {
  border-top: 0.5px white solid;
}
.result .textArea {
  width: calc(100% - 100px);
}
.result h4 {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 10px;
}
.result .origin, .result .date {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
.result .origin h5, .result .date h5 {
  padding-right: 5px;
}
.result img {
  width: 100px;
  position: absolute;
  top: 30px;
  right: 0;
  border-radius: 5px;
}
.result .buttonContainer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.result .buttonContainer .viewCert {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 50px;
  border-width: 3px;
  color: var(--text-color);
  background-color: var(--feature);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.result .buttonContainer .viewCert:hover {
  cursor: pointer;
  filter: var(--themed-hover-filter);
  transition: filter 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .result h4 {
    font-size: 20px;
    padding-bottom: 5px;
  }
  .result .textArea {
    width: calc(100% - 90px);
  }
  .result .textArea, .result .description {
    font-size: 14px;
  }
  .result .origin, .result .date {
    padding-bottom: 0.5rem;
  }
  .result img {
    width: 80px;
  }
}
.projects {
  display: grid;
  justify-content: center;
  align-items: space-between;
  grid-template: repeat(2, fit-content)/1fr 3fr;
}
.projects .title {
  color: var(--text-color);
  transition: color 0.5s ease-in-out;
  font-size: 40px;
  padding-bottom: 30px;
  grid-area: 1/1/2/2;
}
.projects .projectContainer {
  color: var(--text-color);
  transition: color 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .projects .title {
    font-size: 30px;
    padding-bottom: 20px;
  }
}
.project {
  display: grid;
  grid-template: repeat(4, fit-content)/fit-content;
  width: 400px;
  margin: 0 3vw 3vw 0;
  padding-bottom: 30px;
  border-bottom: solid 2px;
  border-color: var(--text-color);
  transition: border-color 0.5s ease-in-out;
}
.project .techInfo {
  grid-area: 1/1/2/3;
}
.project .techInfo h4 {
  font-size: 20px;
  text-align: left;
  padding-bottom: 0px;
}
.project .techInfo .dateInfo {
  display: flex;
  padding-bottom: 10px;
}
.project .techInfo .dateInfo h5 {
  padding-right: 5px;
  font-size: 16px;
}
.project .siteLink {
  display: grid;
  grid-area: 2/1/3/2;
  padding-bottom: 10px;
  border-radius: 10px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.project .siteLink img {
  grid-area: 1/1/2/2;
  width: 100%;
  border-radius: 10px;
  border-color: var(--feature-border);
  transition: border-color 0.5s ease-in-out;
  border: 2px solid;
}
.project .techWindow {
  width: 100%;
  grid-area: 3/1/4/2;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-color: var(--feature-border);
  transition: border-color 0.5s ease-in-out;
  border: 2px solid;
  border-radius: 10px;
  overflow: hidden;
}
.project .techWindow .techContainer {
  background-color: var(--feature);
  transition: background-color 0.5s ease-in-out;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}
.project .techWindow .techContainer .tech {
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  padding-right: 10px;
  transition: none;
}
.project .techWindow .techContainer .tech::before {
  content: "•";
  padding-right: 10px;
  padding-left: 10px;
}
.project .projectText {
  grid-area: 4/1/5/2;
  font-size: 14px;
}
.project .projectText h5 {
  padding-right: 5px;
  font-size: 16px;
}
.project .buttonContainer {
  grid-area: 5/1/6/2;
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 15px;
  justify-content: space-evenly;
  align-items: center;
}
.project .buttonContainer .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 120px;
  padding: 5px 10px;
  border-radius: 50px;
  border-width: 3px;
  color: var(--text-color);
  background-color: var(--feature);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.project .buttonContainer .link:hover {
  cursor: pointer;
  filter: var(--themed-hover-filter);
  transition: filter 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .project {
    width: 100%;
    margin: 0 0 40px;
    padding-bottom: 0;
    border-bottom: none;
  }
  .project + .project {
    border-top: solid 2px;
    border-color: var(--text-color);
    transition: border-color 0.5s ease-in-out;
    padding-top: 5vw;
  }
  .project .techInfo h4 {
    font-size: 16px;
  }
  .project .techInfo .dateInfo {
    display: flex;
    padding-bottom: 10px;
  }
  .project .techInfo .dateInfo h5, .project .techInfo .dateInfo p {
    font-size: 14px;
  }
  .project .testContainer {
    margin-top: 15px;
  }
  .project .projectText h5 {
    font-size: 14px;
  }
}
.footer {
  width: 100%;
  height: 150px;
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  transition: background-color 0.5s ease-in-out;
}
.footer h3 {
  color: var(--text-color);
  transition: color 0.5s ease-in-out;
  font-size: 18px;
  margin-bottom: 20px;
}
.footer img {
  width: 40px;
  border-radius: 50%;
  padding: 2px;
  margin: 0 15px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}
.footer img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* h1, * h2, * h3 {
  font-family: "Arvo";
}

a {
  color: inherit;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */